@model System.Collections.Generic.List<dynamic>
@Styles.Render("~/Content/coffeestyle")
<link href="~/Content/statisticContent/statisticTable.css" rel="stylesheet" />
<div id="main container-fluid">
    <span style="clear:both"></span>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="txtSearch" class="form-control" placeholder="Search for...">
                        <div class="btn btn-default input-group-addon" onclick="functionSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-default" onclick="CreateWard()" data-target="#popup" data-toggle="modal">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>

            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="selectedDropdownItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="selectedDropdownText">Show 5 entries</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li data-page-size="5"><a value="5" onclick="changeRow(this)">Show 5 entries</a></li>
                    <li data-page-size="10"><a value="10" onclick="changeRow(this)">Show 10 entries</a></li>
                    <li data-page-size="15"><a value="15" onclick="changeRow(this)">Show 15 entries</a></li>
                </ul>
            </div>
        </div>
        <table class="table results table-hover table-striped table-bordered" id="statisticsTable">
            <thead>
                <tr>
                    <th class="col-md-1 col-xs-1 table-Sort" data-sort="WardName" >Phường/xã</th>
                    <th class="col-md-2 col-xs-2 table-Sort" data-sort="DistrictName">Quận/huyện</th>
                    <th class="col-md-2 col-xs-2 table-Sort" data-sort="CityName">Tỉnh/Thành phố</th>
                    <th class="col-md-1 col-xs-1"></th>
                    <th class="col-md-1 col-xs-1"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <!--create select for page-->
        <div id="paginationStatistics" style="float:right;">
        </div>
    </div>
    <!--Show popup-->
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="popup">
    </div>
    <script src="~/Scripts/statisticScript/StatisticsTable.js"></script>
    <script>
        var listStatisticsViewModel =@Html.Raw(Json.Encode(Model));

        var columnFormat = {
            "tr": {
                "class": "col"
            },
            "td": [{
                "item-id": "#Id#",
                "text": "#WardName#"
            }, {
                    "item-id": "#DistrictId#",
                    "text": "#DistrictName#"
            }, {
                    "item-id": "#CityId#",
                    "text": "#CityName#"
            }, {
                    "style": "text-align : center",
                    "text": "<a class=\"btn btn-info\" onclick=\"EditWard(this,#Id#)\" data-target=\"#popup\" data-toggle=\"modal\"><i class='glyphicon glyphicon-edit' style='width:30px'></i></a>"
            }, {
                "style": "text-align : center",
                "text": "<a class=\"btn btn-danger\" onclick=\"DeleteWard(this,#Id#)\" data-target=\"#popup\" data-toggle=\"modal\"><i class='glyphicon glyphicon-remove-circle' style='width:30px'></i></a>"
            }]
        }
        setColumnFortmat(columnFormat);
        //create page navigation
        createPageTable(listStatisticsViewModel);

        function DeleteWard(element, id) {
            Dialog.Show("Bạn có muốn xóa địa chỉ này không",
                function (dialogResult) {
                    if (dialogResult == true) {
                        $.ajax({
                            type: "GET",
                            url: "/address/DeleteWard/" + id,
                            success: function (data, textStatus, jqXHR) {
                                if (jqXHR.status == 200) {
                                    //delete row
                                    deleteItemInListRowTable("Id", id);
                                } else {
                                    alert(textStatus);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown ) {
                                alert(errorThrown);
                            }
                        });
                    }
                });
        }

        //search in tabe
        function functionSearch(){
            changesText($("#txtSearch").val());
        }
        //change page in table
        function changeRow(element) {
            $('#selectedDropdownText').text($(element).text());
            changeCountRowInPage($(element).attr("value"));
        }

        function EditWard(element, id) {
            var row = $(element).parent().parent();
            var cells = $(row).find('td[item-id]');
            //build data to post server
            var dataObject = {
                'Id': new Object(id),
                'WardName': $(cells[0]).text(),
                'DistrictId': $(cells[1]).attr('item-id'),
                'DistrictName': $(cells[1]).text(),
                'CityId': $(cells[2]).attr('item-id'),
                'CityName': $(cells[2]).text()
            };
            //request page edit
            $.ajax({
                type: "POST",
                url: "/address/addoreditward",
                data: JSON.stringify(dataObject),
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    if (jqXHR.status == 200) {
                        //show result on popup
                        $($('#popup')[0]).html(data);
                    } else {
                        alert(textStatus);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    alert(errorThrown);
                }
            });
        }

        //create new ward
        function CreateWard() {
            //request page to add create war
            $.ajax({
                type: "POST",
                url: "/address/addoreditward",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    if (jqXHR.status == 200) {
                        //show result on popup
                        $($('#popup')[0]).html(data);
                    } else {
                        alert(textStatus);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
    <script src="~/Scripts/dialog.js"></script>
</div>